<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room - All Users</title>
</head>
<body>
  <h1>Welcome to the Chat Room!</h1>
  <h2>Users:</h2>
<ul>
    <% for (let i = 0; i < users.length; i++) { %>
      <li><a href="/chatroom/user/<%= users[i].id %>"><%= users[i].id %></a></li>
    <% } %>
  </ul>
</body>
</html>
