<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
    font-size:3rem;
    text-align: center;
    background-color: darkcyan;
    color: white;
    }
  </style>
  <title>Chat Room - Home</title>
  <script>
    function sendMessage() {
      const message = {
        
        name: document.getElementById("name").value,
        address: document.getElementById("address").value,
        number: document.getElementById("number").value
      };
      parent.postMessage(message, "*"); // Send message to any parent window
    }

    function receiveMessage(event) {
      const data = event.data;
      if (data) {
        if (data && data.name !== undefined && data.address !== undefined && data.number !== undefined) {       document.getElementById("name").value = data.name;
            document.getElementById("address").value = data.address;
            document.getElementById("number").value = data.number;
 document.getElementById("submit").click();
